* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    color: #e6e2d3;
}


.display {
    font-size: 40px;
    display: flex;
    width: 265px;
    height: 100px;
    justify-content: end;
    align-items: flex-end;
}

.number {
    background-color: #3e4444;
    font-size: 30px;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
}

.dot {
    background-color:#3e4444;
    font-size: 30px;
    border: none;
    border-radius: 50%;
    padding: 0 27px;
}

.number.zero {
    border-radius: 80px;
    padding-right: 84px;
}

.number-container {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    gap: 5px;
}

.clear {
    background-color:#3e4444;
    font-size: 30px;
    border: none;
    border-radius: 80px;
    padding: 10px 70px;
}

.operator-container {
    display: flex;
    flex-direction: column;
    width: 60px;
    gap: 5px;
}

.operator, .equal {
    background-color: #ff7b25;
    font-size: 30px;
    border: none;
    border-radius: 50%;
    padding: 10px 10px;
}

.container {
    width: max-content;
    display: flex;
    gap: 5px;
}

.calculator {
    margin-top: 5%;
    background-color: #0e1111;
    width: max-content;
    padding: 20px;
    border-radius: 20px;
}

.copyright {
    margin-top: auto;
    color: black;
    flex-shrink: 0;
}

.main-container {
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}